<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

    <section class="content">
        <div class="home">
            <h1> <%= heading %></h1>
            <p> <%= text %></p>
        </div>
        
    </section>
<!-- Including footer ejs -->
<%- include('partials/footer'); -%>