<!-- Home route ejs file -->

<!-- Including Header ejs file -->

<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

    <section class="content">
        <div class="home">
            <h1> <%= heading %></h1>
            <p> <%= text %></p>
        </div>
        <% for(var i=0; i< journels.length; i++){ %>
            <div class="journels-post">
                <h2> <%= journels[i].heading %> </h2>
                <p> <%= journels[i].text.substring(0,100) %> <a href= <%= "/posts/" + journels[i].heading %> >... Read More</a></p>
            </div>
        <% } %>
    </section>

<!-- Including footer ejs -->
<%- include('partials/footer'); -%>